<%- include('header') -%>

<div class="article">
    <div>
        <h3 style="text-decoration: underline; text-align: center;">
            <%= article.name %>
        </h3>
        <p>Description :
            <%= article.description %>
        </p>
        <p>Date de sortie :
            <%= article.date.getDate() %>/
            <%= article.date.getMonth()+1 %>/
            <%= article.date.getFullYear() %>
        </p>
    </div>
</div>

<%- include('footer') -%>
