<%- include('header') -%>

<tbody>
    <tr>
        <td class="article">
            <h3 style="text-align: center">
                <ins>
                    <%= article.name %>
                </ins>
            </h3>
            <p style="white-space: pre-line">Description :
                <%= article.description %></p>
            <p>Date de sortie :
                <%= article.date.getDate() %>/<%= article.date.getMonth()+1 %>/<%= article.date.getFullYear() %></p>
            <br/>
            <hr/>
        </td>
    </tr>
    <tr>
        <td class="commentaire">
            <% for (const commentaire of commentaires){ %>
                <p>
                    <b style="color: cyan">Pseudo :
                        <%= commentaire.pseudo %></b>
                </p>
                <p>
                    <b>Commentaire :
                        <%= commentaire.commentaire %></b>
                </p>
                <p>Date du commentaire :
                    <%= commentaire.date.getDate() %>/<%=commentaire.date.getMonth()+1 %>/<%= commentaire.date.getFullYear() %></p>
            <% } %>
        </td>
    </tr>
</tbody>

<%- include('footer') -%>
