<%- include('header') -%>

<div>
    <!-- ajout code point &#x..codepoint.. -->
    <h3 style="text-align: center; text-decoration: underline;">Home</h3>
    <p>
        Bienvenue sur mon blog, vous trouverez ici tous mes articles sur les Baskets !!! 
    </p>
    <div class="articles">
        <% for (const article of articles){ %>
            <div class="basket">
                <strong style="text-decoration: underline; color: cyan;">Nom de la paire : <%= article.name %> </strong>
                <p>Description : <%= article.description %> </p>
                <p>Date de sortie : 
                    <%= article.date.getDate() %>/
                    <%= article.date.getMonth()+1 %>/
                    <%= article.date.getFullYear() %>
                </p>
            </div>
        <% } %>
    </div>
</div>

<%- include('footer') -%>
